
<%= form_with(url: "/question", method: "post") do %>
  <%@questions.each do |question|%>
    <%=question.question%></br>
    <input type='radio' tabindex='21' name='edad' value=<%=question.value1%>> <%=question.label1%> </br>
    <input type='radio' tabindex='21' name='edad' value=<%=question.value2%>> <%=question.label2%> </br>
    <%= submit_tag("Match") %>
  <% end %>
<%end%>
